@tailwind base;
@tailwind components;
@tailwind utilities;


.full-bleed {
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
}

.full-bleed-mag {
    box-shadow: 0 0 0 100vmax #FEF08A;
    clip-path: inset(0 -100vmax);
}

@layer components {
    .post-info-holder {
        @apply flex items-center h-fit space-x-2
    }
}

@layer components {
    .iconify {
        @apply text-2xl text-slate-600 cursor-pointer hover:text-cyan-600
    }
}